{{#section "employment"}}
<section id="employment" class="section">
  {{> header-simple _title="EMPLOYMENT" _section="employment" }}

  <ul class="henlo-list">
  {{#each r.employment.history}}
    {{#> body-employment }}
      <li class="henlo-list-item">
        <div class="hvpod hvpod--job">
          <div class="hvpod-block">
            <h3 class="hvpod-title">
              {{ position }}
            </h3>
            <p class="hvpod-subtitle">
              <em>
                {{#if url }}
                  <a href="{{{ url }}}">{{ employer }}</a>
                {{else}}
                  {{ employer }}
                {{/if}}
              </em> |
              {{ dateRange . }}
            </p>

            <div class="hvpod-element">{{{ summary }}}</div>

            <div class="hvpod-element hvpod-element--highlights">
              {{> highlights }}
            </div>

            {{#if keywords}}
              <div class="hvpod-element">
                {{> molecule-keywords }}
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    {{/body-employment}}
  {{/each}}
  <ul>
</section>
{{/section}}
